<footer class="container" sytle="margin-top: 100px">
  <p class="text-center">Copyright ©2016 rails103
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" target=_bew>xdite</a>
  </p>
</footer>
